<!Doctype html>
<html>
<head>
    <title>Boom Sports Takehome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
</head>
<body>
  <ul>
    {{#each colleges}}
      <li>{{this.college.name}} - {{this.count}}</li>
    {{/each}}
  </ul>
</body>
</html>
